{% extends 'skeleton.html' %}
{% block content %}
<h1 class="text-blue-600 dark:text-sky-400"></h1>
{% include "refresh-library.html" %}
   <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
            {% for model in remote.models.values() %}
              <tr>
                  {% set model_name = model.name %}
                  <td><a href="{{ model.link }}">{{ model.name }}</a></td>
                  <td>{{ model.short_description }}</td>
                  <td> 
                    {% for tag in model.tag_collection.tags.values() %}
                      {% set tag_name = tag.name  %}
                      {% if model.name in local.models.keys() and tag.name in local.models[model.name].tag_collection.tags.keys() %}
                        {% include "button-downloaded.html"  %}
                      {% else %}
                        {% include "button-download.html"  %}
                      {% endif %}
                    {% endfor %}
                  </td>
              </tr>
            {% endfor %}
        </tbody>

{%endblock%}
