{% extends 'skeleton.html' %}
{% block content %}
<h1>Models @ {{ollama_library.url}}</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
    {% for model in ollama_library.models %}
    <tr>
        <td>{{ model.name }}</td>
        <td>{{ model.short_description }}</td>
        <td> <a href="{{model.link}}">Link</a> </td>
    </tr>
    {% endfor %}
        </tbody>

{%endblock%}
