<!DOCTYPE html>
<html lang="">
  <head>
    <title>Ollama Web Admin</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <!-- https://htmx.org/docs/ -->
    <script src="/static/js/htmx-2.0.4.js"></script>
    <!-- https://htmx.org/extensions/response-targets/ -->
    <script src="/static/js/htmx-ext-response-targets-2.0.2.js"></script>
    <!-- https://hyperscript.org/ -->
    <script src="/static/js/_hyperscript-0.9.14.js">
      _hyperscript.config.defaultHideShowStrategy = "twDisplay"
    </script>
    <!-- <script src="/static/js/rsjs-menu.js" type="module"></script> -->
    <!-- <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script> -->
  </head>
  <!-- <body hx-boost="true"> -->
  <body hx-ext="response-targets">
    <main>
      <header>
        <h1>
          <all-caps>Ollama Web Admin</all-caps>
          <sub-title>A simple administration interface for your ollama inference server.</sub-title>
        </h1>
        <p id="error-bar" class="invisible">Error Bar</p>
      </header>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
